/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.zip

cdk_out/
cdk.out/

**/.venv/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
layer/python

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store

### CDK-specific ignores ###
*.swp
cdk.context.json
*.context.json
**/cdk.context.json
**/package-lock.json
*lock.json
yarn.lock/
.cdk.staging/
cdk.out/
node_modules/
package-lock.json